-e "../py"
-e "../../libraries/pyclient"
grpcio==1.30.0
grpcio-tools==1.30.0
protobuf==3.12.2
six==1.15.0
boto3==1.14.21
boto3-stubs==1.14.21.0
mypy-boto3==1.14.21.0
mypy-boto3-ec2==1.14.21.0
mypy-boto3-lambda==1.14.21.0
mypy-boto3-s3==1.14.21.0
