-e "git+https://github.com/ditrit/gandalf.git@3d94ab6b439f189d9989b0ce355be3cfc959c070#egg=pyworker&subdirectory=connectors\py"
-e "git+https://github.com/ditrit/gandalf.git@3d94ab6b439f189d9989b0ce355be3cfc959c070#egg=pyclient&subdirectory=libraries\pyclient"